h3 Students Being Helped
table.table
  tr
    th Name
    th NetID
    th Question
    th Wait Time
    th Time With TA
  each student in list
    - var start = moment.tz(student.enqueueTime, "x", "America/Denver");
    - var helped = moment.tz(student.startedGettingHelpTime, "x", "America/Denver");
    - var current = moment.tz(Date.now(), "x", "America/Denver");
    - var waitTime = moment.duration(helped.diff(start))
    - var taTime = moment.duration(current.diff(helped))
    tr
      td= student.name
      td= student.netId
      td= student.question
      td #{waitTime.hours() * 60 + waitTime.minutes()}:#{((waitTime.seconds() < 10)?'0':'') + waitTime.seconds()}
      td #{taTime.hours() * 60 + taTime.minutes()}:#{((taTime.seconds() < 10)?'0':'') + taTime.seconds()}
