h3 Students Waiting For Help
table.table
  tr
    th Name
    th NetID
    th Question
    th Time Waiting
  each student in list
    - var start = moment.tz(student.enqueueTime, "x", "America/Denver")
    - var current = moment.tz(Date.now(), "x", "America/Denver");
    - console.log(current.format('x'))
    - var duration = moment.duration(current.diff(start))
    tr
      td= student.name
      td= student.netId
      td= student.question
      td #{duration.hours() * 60 + duration.minutes()}:#{duration.seconds()}
